<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head th:replace="/fragments/head::head"></head>
    <body>
        <header th:replace="/fragments/header :: header"></header>
        <div th:replace="/fragments/exito_error :: div"></div>

        <div class="container mb-4 ">

            <table class="table border-primary-subtle ">

                <thead>
                    <tr class="table-primary">
                        <th>Id de editorial</th>
                        <th>nombre de editorial</th>
                        <th sec:authorize="hasRole('ADMIN')">Modificar</th>
                    </tr>
                </thead>
                <tbody th:each="editorial : ${editoriales}">

                    <tr>
                        <td th:text="${editorial.id}"></td>
                        <td th:text="${editorial.nombre}"></td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <a  class="btn btn-primary" th:href="@{/editorial/modificar/__${editorial.id}__}" title="modificar"> <i class="bi bi-pen-fill"></i> </a> 
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>

        <footer th:replace="/fragments/footer :: footer"></footer>
    </body>
</html>
