<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="/fragments/head::head"></head>
    <body>
        <header th:replace="/fragments/header :: header"></header>
        <div class="container">
            <h1 class="text-center">MODIFICAR LIBRO</h1>
        </div>

        <div>
            <form th:action="@{/libro/modificar/__${libro.isbn}__}" method="POST" enctype="multipart/form-data">

                <div class="container input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">ISBN</span>
                    <input disabled  name="isbn" th:value="${isbn}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="container input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
                    <input th:value="${libro.titulo}" type="text" name="titulo"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="container input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Cant. Ejemplares</span>
                    <input type="number" name="ejemplares" th:value="${libro.ejemplares}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="container">

                    <select name="idAutor" class="form-select" aria-label="Default select example">
                        <option selected th:text="${libro.autor.nombre}" ></option>
                        <option th:each="autor:${autores}"
                                th:value="${autor.id}"
                                th:text="${autor.nombre}"
                                />
                    </select>
                </div>

                <div class="container my-3">
                    <select name="idEditorial" class="form-select" aria-label="Default select example">
                        <option selected th:text="${libro.editorial.nombre}" ></option>
                        <option th:each="editorial :${editoriales}"
                                th:value="${editorial.id}"
                                th:text="${editorial.nombre}"
                                />
                    </select>
                </div>

                <div class="container d-grid gap-2">
                    <button class="btn btn-primary" type="submit" >Modificar</button>
                </div>
            </form>
        </div>

        <!--div th:if="${error != null}">
            <div>
                <h5>Error ð</h5>
                <p th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}">
            <div>
                <h5>Exito!</h5>
                <p th:text="${exito}"></p>
            </div>
        </div-->
        <div th:replace="/fragments/exito_error :: div"></div>
        <footer th:replace="/fragments/footer :: footer"></footer>
    </body>

</html>